*{
    // border: 1px dashed hotpink;
}
// layout of project
// container devices
$container-xl: 1440px;
$container-l: 1140px;
$container-m: 960px;
$container-s: 540px;
// Mixins of media query
@mixin responsive($device) {
    @if $device==xl {
        // for resolutions upper than 1440px
        @media screen and (min-width: $container-xl) {
            @content;
        }
    }
    @if $device==l {
        // for resolutions between 1140px and 1440px
        @media screen and (max-width: $container-xl) and (min-width: $container-l) {
            @content;
        }
    }
    @if $device==m {
        // for resolutions between 960px and 1140px
        @media screen and (max-width: $container-l) and (min-width: $container-m) {
            @content;
        }
    }
    @if $device==s {
        // for resolutions less than 960px
        @media screen and (max-width: $container-m) {
            @content;
        }
    }
}

.bg-loader {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(225deg, $blue 0%, $blue-dark 100%);
}

.container {
    max-width: $container-xl;
    margin: 0 auto;
    padding: 70px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    @include responsive(s) {
        flex-direction: column;
        padding: 32px 18px;
    }
}

.full-container {
    // background-image: url(../img/bg-fundo-v7.png);
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(319.63deg, #008693 -37.09%, rgba(223, 238, 239, 0.29) 66.45%);
    @include responsive(s) {
        height: auto;
        .flex-item-3,
        .flex-item-1 {
            flex: 1 1 200px;
        }
    }
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-item-1 {
    flex: 1 1 360px;
}

.flex-item-2 {
    flex: 2 1 360px;
}

.flex-item-3 {
    flex: 3 1 360px;
}

.flex-item-4 {
    flex: 4 1 360px;
}

.flex-item-5 {
    flex: 5 1 360px;
}

.flex-item-auto {
    flex: 2 1 auto;
}

.w-auto {
    width: auto;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.hidden {
    overflow: hidden;
}

@keyframes go-back {
    from {
      transform: translateX(10px);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes go-left{
    from {
      transform: translateY(10px);
    }
    to {
      transform: translateY(0);
    }
  }

.hero {
    height: 100vh;
    position: relative;
    button {
        margin: 0;
        border-radius: 5px;
        padding: 16px 24px;
        border: none;
        cursor: pointer;
        background: $red;
        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        color: #fafafa;
        transition: .6s ease;
        &:hover {
            transform: translate3d(0, -10px, 0);
            box-shadow: 0px 17px 29px rgba(219, 24, 38, 0.47), 0px 2.12866px 3.63125px rgba(219, 24, 38, 0.235);
        }
    }
    h1{
        font-family: 'Source Sans Pro', sans-serif;
        color: $blue-dark;
        font-size: 46px !important;
        line-height: 49px!important;
        font-weight: bold;
        margin-bottom: 32px;
        @include responsive(s){
            font-size: 26px !important;
            line-height: 30px !important;
            padding-bottom: 20px !important;
           text-align: center !important;
            
        }
    
    }

    .mulher-cadeira{
       
        width: 83%;
        padding: 30px 0;

     
    }

    //item animados
    .item-1{
        position: absolute;
        left: 790px;
        top: 280px;
        margin: 0;
        padding: 0;
        animation: go-back 2s infinite alternate;
        @include responsive(s){
            display: none;
        }
        @include responsive(l){
            left: 480px;
            top:466px;
        }
    }
    .item-2{
        position: absolute;
        left: 805px;
        top: 140px;
        margin: 0;
        padding: 0;
        animation: go-left 2s infinite alternate;
        @include responsive(s){
            display: none;
        }
        @include responsive(l){
            left: 480px;
            top: 293px;
        }
    }
    .item-3{
        position: absolute;
        left: 1000px;
        top:60px;
        margin: 0;
        padding: 0;
        animation: go-back 2s infinite alternate;
        @include responsive(s){
            display: none;
        }
        @include responsive(l){
            left: 578px;
            top: -5px;
        }
    }
    .item-4{
        position: absolute;
        left: 1150px;
        top: 150px;
        margin: 0;
        padding: 0;
        animation: go-left 2s infinite alternate;
        @include responsive(s){
            display: none;
        }
        @include responsive(l){
            left: 976px;
            top: 190px;
        }
    }
    .item-5{
        position: absolute;
        left: 1150px;
        top: 320px;
        margin: 0;
        padding: 0;
        animation: go-back 2s infinite alternate;
        @include responsive(s){
            display: none;
        }
        @include responsive(l){
            left: 494px;
            top: 154px;
           
        }
    }
    .item-6{
        
        position: absolute;
        left: 1120px;
        top: 500px;
        margin: 0;
        padding: 0;
        animation: go-left 2s infinite alternate;
        @include responsive(s){
            display: none;
        }
        @include responsive(l){
            left: 925px;
            top: 5px;
           
        }
        
    }
    .item-7{
       
        position: absolute;
        left: 790px;
        top: 440px;
        margin: 0;
        padding: 0;
        animation: go-back 2s infinite alternate;
        @include responsive(s){
            display: none;
        }
        @include responsive(l){
            left: 954px;
            top: 440px;
           
        }
    }
    .item-selos{
        position: absolute;
        left: 20px;
        top: 770px;
        margin: 0;
        padding: 0;
        @include responsive(s){
            display: none;
        }
        @include responsive(l){
            top: 710px;
        }
        
    }
    .item-carinha{
        position: absolute;
        left: 990px;
        top: 872px;
        margin: 0;
        padding: 0;
        @include responsive(s){
            display: none;
        }
        @include responsive(l){
            left: 790px;
            top: 786px;
        }
    }
    @include responsive(m) {
        height: auto;
       
    }
    @include responsive(s) {
        padding-bottom: 0;
        height: 0vh;
        height: auto;
        h1 {
            font-size: 36px;
            line-height: 30px;
            margin-bottom: 0;
            text-align: left;
        }
        img {
            margin-top: 60px;
            width: 60%;
            padding-bottom: 20px !important;
        }
        .logo-programa{
            width: 60%;
            margin-left: 20%;
   
        }
        p {
            width: 320px;
            margin: 0 auto;
            text-align: center;
        }
        .flex-item-1 {
            height: 320px;
        }
    }
    @include responsive(m) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        h1 {
            padding-left: 10px;
        }
        p {
            width: 100%;
            padding-left: 10px;
        }
        .logo-programa{
            width: 60%;
           margin-bottom: 20px;
            padding: 0;
        }
    }
    @include responsive(l){
        h1{
            font-size: 36px !important;
            line-height: 42px;
            margin:  0;
        }
        p{
            font-size: 18px;
        }
        .contenedor{
            font-size: 28px;
        }
  
    }
}

.contenedor {
    margin-bottom: 32px;
    display: flex;
    width: 800px;
    height: 90px;
    color: $blue;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 85px;
    overflow: hidden;
    // border: 1px solid hotpink;
    ul {
        list-style: none;
        animation: cambiar 7s infinite;
    }
    ul,
    p {
        margin: 0;
    }
    @include responsive(s) {
        font-size: 24px !important;
        height: 60px;
        padding: 3;
        margin-bottom: 16px;
        width: 100%;
     
        display: flex;
        justify-content: center;
   
    }
    @include responsive(l) {
        width: 100%;
        font-size: 78px;
        line-height: 85px;
    }
    @include responsive(m) {
        width: 100%;
        padding-left: 10px;
    }
}

.depoimentos {
    padding: 40px 40px;
    background: linear-gradient(108.62deg, #DFEEF0 3.54%, #E7F0F1 91.92%);
    margin-bottom: -160px;
    @include responsive(s) {
        margin-bottom: 0;
    }
}

#sobre-programa{
    h6, h2{
        text-align: center;
       
    }

    h6{
        &::after{
            content: "";
            display: block;
            height: 4px;
            width: 60px;
            border-radius: 100px;
            background: orange;
            margin: 0 auto;
        }
    }
}



#programa-texto{
    .video{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    iframe{
        @include responsive(s){
            width: 100%;
        }
    }
}

#programa-complemento{
 
    align-items: flex-start;
    .o-que{
        padding: 0 40px;
       
        h2{
            padding-bottom: 20px;
        }
        @include responsive(s){
            padding: 20px 0;
            flex: 1 1 100%;
        }
    }
    .programatico{
        h2{
            padding-bottom: 20px;
        }
        p{
            font-size: 23px;
            padding: 16px 24px;
            border-bottom: 1px solid #eeeded;
            &::before{
                content: "";
                display: inline-block;
                height:  6px;
                width: 10px;
                background: $yellow;
                border-radius: 100px;
                margin: 5px 10px;
            }
        }
        @include responsive(s){
            h2{
                font-size: 24px;
            }
            p{
                font-size: 16px;
             
            }
        }
    }
}

#como-sera{
    p{
        margin-bottom: 20px;
        margin-right: 20px;
    }
    @include responsive(s){
        img{
            width: 100%;                                                                                   
        }
        .flex-item-1{
            flex: 1 1 100%;
        }
    }
}

.depoimentos-container {
    max-width: $container-xl;
    margin: 0 auto;
    display: flex;
    @include responsive(s) {
        padding: 12px 2px;
        flex-direction: column;
        background: none;
        p {
            font-size: 14px;
            line-height: 19px;
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px 24px;
    margin: 32px 0;
    width: 95%;
    background: #FAFAFA;
    box-shadow: 0px 12px 148px rgba(0, 121, 133, 0.07), 0px 4.3802px 54.0224px rgba(0, 121, 133, 0.0482987), 0px 2.1265px 26.2269px rgba(0, 121, 133, 0.0389404), 0px 1.04245px 12.8569px rgba(0, 121, 133, 0.0310596), 0px 0.412187px 5.08364px rgba(0, 121, 133, 0.0217013);
    border-radius: 10px;
    @include responsive(s) {
        width: auto;
    }
}

.card-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    svg {
        width: 40%;
        padding: 0 8px;
        path {
            fill: $yellow;
        }
    }
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 6px;
    img {
        padding-right: 16px;
    }
    .nome {
        span {
            color: $yellow;
            font-family: 'Source Sans Pro', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
        }
    }
    @include responsive(s) {
        flex-direction: column;
        width: 100%;
        .nome {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            span {
                font-size: 14px;
            }
        }
        .foto {
            img {
                padding-right: 0px;
            }
        }
    }
}

.card-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: rgba(0, 134, 147, 0.1);
    border-radius: 6px;
    color: $blue;
    cursor: pointer;
    transition: .6s ease;
    @include responsive(s) {
        p {
            a {
                font-size: 14px;
                margin: 0px;
            }
        }
    }
    svg {
        path {
            fill: $blue;
        }
        margin-top: 1px;
        margin-right: 8px;
    }
    a {
        font-family: 'Source Sans Pro', sans-serif;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #008693;
        text-transform: uppercase;
    }
    &:hover {
        background: $blue;
        svg {
            path {
                fill: #fafafa;
            }
        }
        a {
            color: #fafafa;
        }
    }
}

.video-item-1 {
    h2 {
        margin-bottom: 64px;
    }
}



#dados-hepta {
    max-width: $container-xl;
    background-color: #EDF6F7;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    img {
        background-color: #DCEDEF;
        padding: 10px;
        border-radius: 4px;
    }
    margin-bottom: 80px;
}

#dados-hepta-2 {
    max-width: $container-xl;
    background-color: #FBF7E9;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    img {
        width: 90%;
        display: flex;
        justify-content: flex-start;
        border-radius: 4px;
    }
    button {
        margin: 0;
        border-radius: 5px;
        padding: 16px 24px;
        border: none;
        cursor: pointer;
        border: 2px solid #0A3241;
        background: none;
        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        color: #0A3241;
        transition: .6s ease;
        &:hover {
            background-color: $yellow;
            color: #fafafa;
            border: 2px solid $yellow-dark;
            transform: translate3d(0, -10px, 0);
            box-shadow: 0px 17px 29px rgba(228, 178, 15, 0.47), 0px 2.12866px 3.63125px rgba(219, 24, 38, 0.235);
        }
    }
    @include responsive(s) {
        button {
            margin-bottom: 40px;
            background-color: $yellow;
            font-size: 18px;
            padding: 8px 16px;
        }
    }
}

#jeitohepta {

    ul{
        margin-bottom: 40px;
        li{
            font-size: 18px;
            line-height: 60px;   
            color: $blue;                                ;
            list-style: none;
            &::before{
                content: '';
                display: inline-block;
                background: $yellow;
                width: 10px;
                height: 6px;
                padding: 4px 8px;
                margin: 2px 8px;
                border-radius: 100px;
            }
            @include responsive(s){
                padding: 16px 0 ;
                font-size: 16px;
                line-height: 24px;  
                border-bottom: 1px solid #e4e4e4; 
            }
        }

    }
    span {
        background: rgba($blue, 0.1);
        padding: 8px 24px;
        border-radius: 100px;
        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
        color: $blue;
    }
    h2 {
        margin: 32px 0;
    }
    p {
        margin-bottom: 20px;
    }
    button {
        margin: 0;
        border-radius: 5px;
        padding: 16px 24px;
        border: none;
        cursor: pointer;
        background: $red;
        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        color: #fafafa;
        transition: .6s ease;
        &:hover {
            transform: translate3d(0, -10px, 0);
            box-shadow: 0px 17px 29px rgba(219, 24, 38, 0.47), 0px 2.12866px 3.63125px rgba(219, 24, 38, 0.235);
        }
    }
    @include responsive(s) {
        img{
            width: 100%;
        }
        display: flex;
    
        flex-direction: column-reverse;
        p {
            margin-bottom: 16px;
            width: 100%;
        }
        button {
            width: 90vw;
            margin-bottom: 20px;
           
        }
    }
    @include responsive(m){
        padding-top: 10px;
        padding-bottom: 60px;
    }
}

#cronograma{
    display: flex;
    flex-direction: row;
    span{
        background: $yellow;
        padding:8px 16px;
        border-radius: 100px;
    }
    h3{
        color: $blue;
        &::before{
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            background: #e4e4e4;
            border-radius: 100px;
            margin: 20px auto;
        }

    }
    .flex-item-1{
        
       
       
        text-align: center;
    }
    @include responsive(s){
        flex-direction: column;
        .flex-item-1{
            flex: 1 1 100%;
            margin-bottom: 30px;
        }
        
       
        
    }
    @include responsive(m){
        h3{
            font-size: 18px;
        }
       
        
    }
}

#footer {
    .flex-item-1 {
        background: $blue;
        padding: 8px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 30px;
        @include responsive(s) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 1 1 120px;
            border-radius: 5px;
            padding: 8px;
            p {
                text-align: center;
                font-size: 12px;
            }
            a {
                font-size: 12px;
            }
        }
    }
    p {
        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        color: #FAFAFA;
        // @include responsive() {
        //     text-align: center;
        //     margin-top: 16px;
        // }
        a {
            font-family: 'Source Sans Pro', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 32px;
            text-decoration-line: underline;
            color: #FAFAFA;
            text-decoration: none;
            transition: .6s ease;
            &::after {
                content: '';
                display: block;
                width: 50px;
                height: 4px;
                background: linear-gradient(269deg, #FFC400 0.77%, rgba(255, 196, 0, 0) 50.71%);
                transition: .6s ease;
                border-radius: 100px;
                opacity: 0;
            }
            &:hover {
                transition: .6s ease;
                transform: translate3d(0, -3px, 0);
                &::after {
                    opacity: 1;
                    width: 212px;
                }
            }
        }
    }
}